/* regole generali  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {

    font-family: 'Roboto', sans-serif;
}

img {

   max-width: 100%;;
 

}



/* utility */

.hidden {
    display: none;
}

.active {

    display: block;

}

/* ms */

.ms_card {

    text-align: center;

}

.ms_card_obj {

    text-align: center;
    display: block;

}
/* bs rules  */



